@import url(reset.css);

:root{
    --aColor: #FFADAD;
    --bColor: #FFD6A5;
    --cColor: #FDFFB6;
    --dColor: #CAFFBF;
    --eColor: #A0C4FF;
    --fColor: #BDB2FF;
    --gColor: #9BF6FF;
    --hColor: #FFC6FF;
    --iColor: #f3ffc8;
}
* {
    box-sizing: border-box;
    text-align: center;
}

@media (min-width: 768px){
    body{
        max-width: 960px;
        margin: auto;
    }
}
