header{
    background-color: var(--aColor);
    width: 480px;
    height: 75px;
    min-width: 100%;
    line-height: 75px;
}
aside {
    background-color: var(--bColor);
    width: 480px;
    height: 150px;
    min-width: 100%;
    line-height: 150px;
}
main {
    line-height: 250px;
}
footer {
    background-color: var(--iColor);
    width: 480px;
    height: 80px;
    min-width: 100%;
    line-height: 80px;
}

/* and (max-width:960px) */
@media (min-width: 768px){
    header{
        width: 960px;
        height: 80px;
        max-width: 100%;
        line-height: 80px;
    }
    aside {
        width: 200px !important;
        height: 600px;
        float: left;
        min-width: 200px;
        line-height: 600px;
    }
    main{
        float: right;
        height: 450px;
        width: 568px;
        min-width: calc(100% - 200px);
    }
    footer{
        height: 150px;
        float: right;
        min-width: calc(100% - 200px);
        line-height: 150px;
    }
}