:root{
    --aColor: #FFADAD;
    --bColor: #FFD6A5;
    --cColor: #FDFFB6;
    --dColor: #CAFFBF;
    --eColor: #A0C4FF;
    --fColor: #BDB2FF;
    --gColor: #9BF6FF;
    --hColor: #FFC6FF;
    --iColor: #f3ffc8;
}
p {
    text-align: center;
}
header div {
    background-color: var(--aColor);
    width: 480px;
    height: 75px;
    box-sizing: border-box;
    min-width: 100%;
}
header div p{
    line-height: 75px;
}
aside {
    background-color: var(--bColor);
    width: 480px;
    height: 150px;
    box-sizing: border-box;
    min-width: 100%;
}
aside p {
    line-height: 150px;
}
#c{
    background-color: var(--cColor);
    width: 480px;
    height: 125px;
    box-sizing: border-box;
    min-width: 100%;
}
#c p, #d p{
    line-height: 125px;
}
#d{
    background-color: var(--dColor);
    width: 480px;
    height: 125px;
    box-sizing: border-box;
    min-width: 100%;
}
#ef, #gh{
    width: 480px;
    min-width: 100%;
}
#e{
    background-color: var(--eColor);
    width: 240px;
    height: 250px;
    box-sizing: border-box;
    float: left;
    min-width: 50%;
}
#f{
    background-color: var(--fColor);
    width: 240px;
    height: 250px;
    box-sizing: border-box;
    float: right;
    min-width: 50%;
}
#g{
    background-color: var(--gColor);
    width: 240px;
    height: 250px;
    box-sizing: border-box;
    float: left;
    min-width: 50%;
}
#h{
    background-color: var(--hColor);
    width: 240px;
    height: 250px;
    box-sizing: border-box;
    float: right;
    min-width: 50%;
}
#e , #f, #g, #h{
    line-height: 250px;
}
.clear{
    clear:both;
}
footer div {
    background-color: var(--iColor);
    width: 480px;
    height: 80px;
    box-sizing: border-box;
    min-width: 100%;
}
footer div p{
    line-height: 80px;
}


/* and (max-width:960px) */
@media (min-width: 768px){
    header div{
        background-color: var(--dColor);
        width: 960px;
        height: 80px;
        max-width: 100%;
    }
    header div p {
        line-height: 80px;
    }
    aside {
        background-color: var(--iColor);
        width: 200px !important;
        height: 600px;
        float: left;
        min-width: 200px;
    }
    main{
        float: right;
        height: 450px;
        min-width: calc(100% - 200px);
        width: 568px;
    }
    #c, #ef{
        width: 50%;
        height: 200px;
        float: left;
        min-width: 50%;
    }
    #d, #gh{
        width: 50%;
        height: 200px;
        float: right;
        min-width: 50%;
    }
    #c p, #d p{
        line-height: 200px;
    }
    #e, #f, #g, #h{
        width:50%;
    }
    #c{
        background-color: var(--aColor);
    }
    #d{
        background-color: var(--cColor);
    }
    #e{
        background-color: var(--hColor);
    }
    #f{
        background-color: var(--bColor);
    }
    #g{
        background-color: var(--eColor);
    }
    #h{
        background-color: var(--fColor);
    }
    .clear{
        clear: none;
    }
    footer div{
        background-color: var(--gColor);
        height: 150px;
        float: right;
        min-width: calc(100% - 200px);
        line-height: 150px;
    }
    footer div p{
        line-height: 150px;
    }
}